body {
  margin: 0;
  padding: 0;
  background-color: #acacac;
  font-family: Verdana, sans-serif;
}

header {
  background-color: #723232;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header .h1 {
  margin: 0;
}

/* Set tab size = 2 */
textarea {
  tab-size: 2;
  -moz-tab-size: 2;
}



#editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#button-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
}


#editor button,
#editor select {
  margin-bottom: 10px;
}

#code {
  font-family: 'Courier New', monospace;
  width: 100%;
  height: 250px;
  margin: auto;
  border: 1px solid #2c2c2c;
  padding: 10px;
  resize: none;
  outline: none;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 20px;
}

#output {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: vertical;
  overflow: auto;
  min-height: 100px;
  max-height: 70vh;
  width: 100%;
  box-sizing: border-box;
}

select {
  color: #000;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #d9d9d9;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: 244px;
  width: 268px;
}

select:hover {
  background-color: #e1e1e1;
}

select option {
  background-color: #bdbdbd;
}

select option:hover {
  color: #353535;
}

button.action:enabled {
  background-color: rgb(13, 13, 148);
}

button.action:enabled:hover {
  background-color: #0056b3;
}

button.confirm:enabled {
  background-color: green;
}

button.confirm:enabled:hover {
  background-color: rgb(1, 182, 1);
}

button.danger:enabled {
  background-color: darkred;
}

button.danger:enabled:hover {
  background-color: rgb(203, 0, 0);
}

#right-button-container {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

#download-output {
  margin-top: 20px;
}

button {
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: grey;
}

button:disabled:hover {
  cursor: auto;
}

.loading {
  cursor: progress;
}

/* Classes for rendering ANSI color codes */

.red {
  color: red;
}

.green {
  color: green;
}